In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

import math

In [2]:
data=pd.read_csv('~\Downloads\daily_data.csv')
data

        datetime      high       low     close      open        volume
0     2018-01-01  13818.55  12750.00  13135.00  13715.65   6970.441076
1     2018-01-02  14750.00  12890.02  14580.00  13135.00  16359.347340
2     2018-01-03  15473.49  14150.00  14749.97  14576.87  19457.238601
3     2018-01-04  15280.00  13918.04  14811.00  14710.00  18783.876561
4     2018-01-05  17118.13  14600.00  16579.00  14805.01  22383.657333
...          ...       ...       ...       ...       ...           ...
1468  2022-01-08  42246.37  40501.00  40679.82  41707.04  27031.900870
1469  2022-01-09  42300.00  40520.00  41966.99  40679.82  27291.009660
1470  2022-01-10  42786.70  39650.00  41604.58  41966.99  51064.904360
1471  2022-01-11  43100.00  41158.99  42755.00  41604.58  38062.818280
1472  2022-01-12  43095.26  42578.02  42675.00  42754.99   5610.060100

[1473 rows x 6 columns]

In [3]:
def get_macd(price,slow,fast,smooth):
    exp1 = price.ewm(span = fast, adjust = False).mean()
    exp2 = price.ewm(span = slow, adjust = False).mean()
    macd = pd.DataFrame(exp1-exp2).rename(columns = {'close':'macd'})
    signal = pd.DataFrame(macd.ewm(span = smooth, adjust = False).mean()).rename(columns = {'macd':'signal'})
    frames =  [macd, signal]
    df = pd.concat(frames, join = 'inner', axis = 1)
    return df

macd=get_macd(data.close,26,12,9)
macd

             macd       signal
0        0.000000     0.000000
1      115.270655    23.054131
2      217.827657    62.008836
3      300.564708   109.720011
4      502.998982   188.375805
...           ...          ...
1468 -2136.672368 -1568.284564
1469 -2233.642180 -1701.356087
1470 -2313.071268 -1823.699123
1471 -2257.170852 -1910.393469
1472 -2194.033251 -1967.121425

[1473 rows x 2 columns]

In [198]:
def generate_signal_for_macd(df,data):
    datetime=[]
    signal=[]
    current=0
    datetime.append(data.datetime[0])
    signal.append(0)
    for i in range(1,len(df.macd)):
        if(df.macd[i]>=df.signal[i] ):
            datetime.append(data.datetime[i])
            signal.append(1)
        elif(df.macd[i]<=df.signal[i]):
            datetime.append(data.datetime[i])
            signal.append(-1)
        else:
            datetime.append(data.datetime[i])
            signal.append(0)
    a=pd.DataFrame(columns=['datetime','signals'])
    a['datetime']=datetime
    a['signals']=signal
    return a
            
        
        
output=generate_signal_for_macd(macd,data)
output

        datetime  signals
0     2018-01-01        0
1     2018-01-02        1
2     2018-01-03        1
3     2018-01-04        1
4     2018-01-05        1
...          ...      ...
1468  2022-01-08       -1
1469  2022-01-09       -1
1470  2022-01-10       -1
1471  2022-01-11       -1
1472  2022-01-12       -1

[1473 rows x 2 columns]

In [199]:
def to_submit(data,output):
    datetime=[]
    trade=[]
    signal=[]
    price=[]
    current=0
    for i in range(len(data.close)):
        if(i==(len(data.close)-1)):
            if(current==1):
                datetime.append(output.datetime[i])
#                 price.append(data.close[i])
                trade.append('close')
                signal.append(-1)
            elif(current==-1):
                datetime.append(output.datetime[i])
#                 price.append(data.close[i])
                trade.append('close')
                signal.append(1)
            else:
                break
            break
        if(output.signals[i]==1):
            if(current==1):
                datetime.append(output.datetime[i])
                trade.append('close')
#                 price.append(data.close[i])
                signal.append(0)
            elif(current==0):
                datetime.append(output.datetime[i])
#                 price.append(data.close[i])
                trade.append('close')
                signal.append(1)
                current=1
            else:
                datetime.append(output.datetime[i])
                trade.append('close')
#                 price.append(data.close[i])
                signal.append(1)
                current=0
            
        elif(output.signals[i]==-1):
            if(current==1):
                datetime.append(output.datetime[i])
                signal.append(-1)
#                 price.append(data.close[i])
                trade.append('close')
                current=0
            elif(current==0):
                datetime.append(output.datetime[i])
                trade.append('close')
#                 price.append(data.close[i])
                signal.append(-1)
                current=-1
            else:
                datetime.append(output.datetime[i])
                trade.append('close')
#                 price.append(data.close[i])
                signal.append(0)
                current=-1
        
        else:
            datetime.append(output.datetime[i])
            trade.append('close')
#             price.append(data.close[i])
            signal.append(0)
        
            
            
    to_submit=pd.DataFrame(columns=['datetime'])
    to_submit['datetime']=datetime
    to_submit['signals']=signal
    to_submit['open']=data.open
    
    to_submit['high']=data.high
    to_submit['low']=data.low
    to_submit['close']=data.close
    to_submit['volume']=data.volume
    
#     to_submit['close\open']=trade
#     to_submit['price']=price
    

    return to_submit

In [208]:
def trailing_stop_loss(data,submit):
    datetime=[]
    trade=[]
    signal=[]
    percent=0.05
    hello=0
    stop_loss=0
    current=0
    l=-1
    for i in range(len(submit.datetime)):
        datetime.append(submit.datetime[i])
        trade.append('close')
        if(i<=l):
            continue
        if(hello==0):
            if(submit.signals[i]==0):
                signal.append(0)
            elif(submit.signals[i]==1):
                hello=1
                current=data.close[i]
                stop_loss=((1-percent)*current)
                signal.append(1)
                
            else:
                hello=-1
                current=data.close[i]
                stop_loss=((1+percent)*current)
                signal.append(-1)          
                
        elif(hello==1):
            if(submit.signals[i]==-1):

                    hello=0
                    signal.append(-1)
                    stop_loss=0
                    
            elif(submit.signals[i]==0):
                if(data.close[i]>current):
                    current=data.close[i]
                    stop_loss=((1-percent)*current)
                    signal.append(0)
            
                    
                elif(data.close[i]<=stop_loss):
                    signal.append(-1)
                    stop_loss=0
                    hello=0
                    for j in range(i+1,len(submit.datetime)):
                        if(submit.signals[j]==-1):
                            signal.append(0)
                            l=j
                            break
                        signal.append(0)
                
                else:
                    signal.append(0)
                        
            
            
        else:#hello=-1
            if(submit.signals[i]==1):
                    signal.append(1)
                    stop_loss=0
                    hello=0
                    
            elif(submit.signals[i]==0):
                if(data.close[i]<current):
                    current=data.close[i]
                    stop_loss=((1+percent)*data.close[i])
                    signal.append(0)
                
                    
                elif(data.close[i]>=stop_loss):
                    signal.append(1)
                    stop_loss=0
                    hello=0
                    for j in range(i+1,len(submit.datetime)):
                        if(submit.signals[j]==1):
                            signal.append(0)
                            l=j
                            break
                        signal.append(0)   
                        
                else:
                    signal.append(0)
                
                
            
        
#     return signal   
    to_submit=pd.DataFrame(columns=['datetime'])
    to_submit['datetime']=datetime
    to_submit['signals']=signal
    to_submit['open']=data.open
    
    to_submit['high']=data.high
    to_submit['low']=data.low
    to_submit['close']=data.close
    to_submit['volume']=data.volume
    
#     to_submit['close\open']=trade
#     to_submit['price']=price
    

    return to_submit

In [209]:

def only_long_then_short(data,output):
    datetime=[]
    signal=[]
    trade=[]
    price=[]
    current=0
    for i in range(len(data.close)):
        datetime.append(data.datetime[i])
        trade.append('close')
#         price.append(data.close[i])
        if(i==len(data.close)-1):
            if(current==1):
                signal.append(-1)
                break
            else:
                signal.append(0)
                break
            
        
        if(output.signals[i]==1):
            if(current==0):
                signal.append(1)
                current=1
            else:
                signal.append(0)
        elif(output.signals[i]==-1):
            if(current==1):
                signal.append(-1)
                current=0
            else:
                signal.append(0)
            
        else:
            if(current==0):
                signal.append(0)
            else:
                signal.append(0)
    a=pd.DataFrame(columns=['datetime'])
    a['datetime']=datetime
    a['signals']=signal
    a['open']=data.open
    a['high']=data.high
    a['low']=data.low
    a['close']=data.close
    a['volume']=data.volume
#     a['close\open']=trade
#     to_submit['price']=price
    
    
    
    return a

In [210]:
#static approach
def dd_long_short(trade_type,close):
    
    if trade_type == 'Long then short':
        cumulative_max_values = close.cummax()
        cumulative_returns = close/ cumulative_max_values - 1
        max_drawdown = cumulative_returns.min()
        return max_drawdown
        
    elif trade_type == 'Short then long':
        pip=[]
        for i in close:
            pip.append(i)
        stock = -(1000 /pip[0])
        portfolio = []

        for i in range(len(pip)):
            profit = stock * (pip[i] - pip[0])
            portfolio.append(1000+profit)
        
        drawdown = []
        new = 0

        for i in range(len(portfolio)):
            new = max(new,portfolio[i])
            drawdown.append(((new-portfolio[i])/new))
            
        return np.max(drawdown)




def metrics1(data,output):
    PL=[]
    PL_in_percent=[]
    hello=0
    number_of_stock=[]
    capital=1000
    entry=[]
    exit=[]
    exit_index=[]
    entry_index=[]
    holding_duration=[]
    drawdown=[]
    dip=[]
    
    commision_rate=1
    risk_free_rate=0.05
    
    for i in range(len(data.close)):
        if(output.signals[i]==1):
            if(hello==0):
                hello=1
                entry_index.append(i)
                entry.append(data.datetime[i])
                
                number_of_stock=(capital)/(data.close[i])
                capital=0
            else:
                hello=0
                exit_index.append(i)
                exit.append(data.datetime[i])
                holding_duration.append(exit_index[-1]-entry_index[-1])
                capital=(capital-(number_of_stock)*(data.close[i]))
                x=entry_index[-1]
#                 if x in data.close.index and i+1 in data.close.index:
                drawdown.append(dd_long_short('Short then long',data.close[x:i+1]))
                dip.append((np.max(data.close[x:i+1])*number_of_stock-1000)/10)    
    
                number_of_stock=0
                PL.append(capital-1000)
                PL_in_percent.append((capital-1000)/10)
                capital=1000
                
        elif(output.signals[i]==-1):
            if(hello==0):
                hello=-1
                
                entry_index.append(i)
                entry.append(data.datetime[i])
                number_of_stock=(capital/(data.close[i]))
                capital=capital+(number_of_stock)*(data.close[i])
            else:
                hello=0
                exit_index.append(i)
                exit.append(data.datetime[i])
                holding_duration.append(exit_index[-1]-entry_index[-1])
                capital=capital+(number_of_stock)*(data.close[i])
                x=entry_index[-1]
                drawdown.append(dd_long_short('Long then short',(data.close[x:i+1])))
                dip.append((1000-(np.min(data.close[x:i+1])*number_of_stock))/10)    
                number_of_stock=0
                PL.append(capital-1000)
                PL_in_percent.append((capital-1000)/10)
                capital=1000
                
                
        
    index=[]            
    for i in range(len(PL)):
        index.append(i)
    a=pd.DataFrame(columns=['trade number','entry','exit','holding duration','return','return %'])
    
    a['trade number']=index
    a['entry']=entry
    a['exit']=exit
    a['holding duration']=holding_duration
    a['return']=PL
    a['return %']=PL_in_percent
    a['drawdown']=drawdown
    a['dip']=dip           
    profit=[]
    loss=[]
    for i in range(len(PL)):
        if(PL[i]>0):
            profit.append(PL[i])
        else:
            loss.append(PL[i])
    print("Total Closed trades: ",len(PL))
    print("Winning trades: ",(len(profit)))
    print("Losing Trades: ",(len(PL)-len(profit)))
    number_of_stock=(1000/(data.close[0]))
    bench_mark_return=(number_of_stock)*(data.close[len(data.close)-1])
    bench_mark_return=(bench_mark_return-1000)
    print("Benchmark Return: ",bench_mark_return)
    print("WIN rate: ",(100*len(profit))/len(PL) , " %")
    print("Gross Profit: ",np.sum(PL))
    net_profit=(np.sum(PL)-(len(PL)*(commision_rate)))
    print("Net Profit: ",net_profit)
    print("Average Profit: ",net_profit/(len(PL)))
    print("MAX Drawdowns: ", (100*(np.min(drawdown)))," %")
    print("Largest Win: ", np.max(profit))
    print("Average Win: ",(np.mean(profit)))
    
   
    print("Largest Loss: ",np.min(loss))
    print("Average Loss: ",np.mean(loss))
    print("Maximum Holding Time: ",np.max(holding_duration))
    print("Average Holding Duration: ",((np.sum(holding_duration))/(len(holding_duration))))
    print("Maximum Dip: ",np.max(dip))
    print("Avg. Dip: ",np.mean(dip))
    print("Sharpe Ratio: ",((np.mean(PL)-risk_free_rate)/(np.std(PL))))
    average_return = np.mean(PL)
    downside_returns = [ret for ret in PL if ret < risk_free_rate]
    downside_volatility = np.std(downside_returns)
    
    sortino_ratio = (average_return - risk_free_rate) / downside_volatility
    print("Sortino Ratio: ", sortino_ratio )
    
   
    print("returns: ",((np.sum(PL)/(10*len(PL))))," %")
    
    return a

In [211]:
a=metrics1(data,to_submit(data,output))

Total Closed trades:  90
Winning trades:  39
Losing Trades:  51
Benchmark Return:  2248.9531785306435
WIN rate:  43.333333333333336  %
Gross Profit:  3573.3856537157108
Net Profit:  3483.3856537157108
Average Profit:  38.70428504128567
MAX Drawdowns:  -25.876296889191885  %
Largest Win:  536.2987182514441
Average Win:  177.6964675330233
Largest Loss:  -226.71593602848884
Average Loss:  -65.81914862886664
Maximum Holding Time:  71
Average Holding Duration:  15.355555555555556
Maximum Dip:  22.671593602848883
Avg. Dip:  4.867685335043812
Sharpe Ratio:  0.25347078121347333
Sortino Ratio:  0.8733915339919821
returns:  3.9704285041285674  %

In [212]:
a

,trade number,entry,exit,holding duration,return,return %,drawdown,dip
0,0,2018-01-02,2018-01-11,9,-62.997257,-6.299726,-0.185355,6.299726e+00
1,1,2018-01-12,2018-01-29,17,151.153874,15.115387,0.197255,6.371295e+00
2,2,2018-01-30,2018-02-11,12,174.756472,17.475647,0.125885,1.136868e-14
3,3,2018-02-12,2018-03-08,24,73.968019,7.396802,-0.202152,1.330418e+00
4,4,2018-03-09,2018-03-23,14,30.648864,3.064886,0.139377,7.806966e+00
...,...,...,...,...,...,...,...,...
85,85,2021-10-25,2021-11-09,15,-53.758826,-5.375883,0.115374,5.375883e+00
86,86,2021-11-10,2021-11-12,2,-57.829879,-5.782988,-0.057830,5.782988e+00
87,87,2021-11-13,2021-12-19,36,265.271727,26.527173,0.061349,0.000000e+00
88,88,2021-12-20,2022-01-04,15,-11.208038,-1.120804,-0.114928,1.120804e+00
89,89,2022-01-05,2022-01-12,7,70.664757,7.066476,0.040563,0.000000e+00

In [213]:
daily_metrics=metrics1(data,trailing_stop_loss(data,to_submit(data,output)))

Total Closed trades:  90
Winning trades:  38
Losing Trades:  52
Benchmark Return:  2248.9531785306435
WIN rate:  42.22222222222222  %
Gross Profit:  1387.263009097085
Net Profit:  1297.263009097085
Average Profit:  14.414033434412055
MAX Drawdowns:  -19.703510653063294  %
Largest Win:  340.42142306304413
Average Win:  108.96727254803238
Largest Loss:  -115.86012128743687
Average Loss:  -52.95179514861817
Maximum Holding Time:  29
Average Holding Duration:  7.288888888888889
Maximum Dip:  11.586012128743686
Avg. Dip:  3.272412037993537
Sharpe Ratio:  0.14584864444221382
Sortino Ratio:  0.5376622807918214
returns:  1.5414033434412056  %

In [215]:
c=metrics1(data,only_long_then_short(data,output))

Total Closed trades:  47
Winning trades:  19
Losing Trades:  28
Benchmark Return:  2248.9531785306435
WIN rate:  40.42553191489362  %
Gross Profit:  2851.0013184889476
Net Profit:  2804.0013184889476
Average Profit:  59.659602521041435
MAX Drawdowns:  -25.876296889191885  %
Largest Win:  735.1464286772573
Average Win:  243.2910804029299
Largest Loss:  -217.96301012440472
Average Loss:  -63.26890032738288
Maximum Holding Time:  72
Average Holding Duration:  16.340425531914892
Maximum Dip:  21.796301012440473
Avg. Dip:  4.450970098546247
Sharpe Ratio:  0.309859636602874
Sortino Ratio:  1.3163902782588712
returns:  6.065960252104144  %

In [216]:
c

,trade number,entry,exit,holding duration,return,return %,drawdown,dip
0,0,2018-01-02,2018-01-11,9,-62.997257,-6.299726,-0.185355,6.299726
1,1,2018-01-29,2018-01-30,1,-114.704957,-11.470496,-0.114705,11.470496
2,2,2018-02-11,2018-03-08,25,122.013682,12.201368,-0.202152,0.000000
3,3,2018-03-23,2018-03-27,4,-87.218642,-8.721864,-0.117317,8.721864
4,4,2018-04-08,2018-05-08,30,316.716167,31.671617,-0.067929,3.571148
5,5,2018-06-03,2018-06-11,8,-122.125554,-12.212555,-0.124315,12.212555
6,6,2018-06-20,2018-06-23,3,-94.339623,-9.433962,-0.094340,9.433962
7,7,2018-06-28,2018-06-29,1,-36.624386,-3.662439,-0.036624,3.662439
8,8,2018-06-30,2018-08-01,32,194.091050,19.409105,-0.087883,2.335622
9,9,2018-08-21,2018-09-07,17,-5.099225,-0.509922,-0.127877,0.647132
10,10,2018-09-21,2018-10-11,20,-65.796931,-6.579693,-0.066074,6.579693
11,11,2018-10-15,2018-10-25,10,-37.074114,-3.707411,-0.037074,3.707411
12,12,2018-11-06,2018-11-14,8,-94.180572,-9.418057,-0.105975,9.418057
13,13,2018-12-02,2018-12-07,5,-217.963010,-21.796301,-0.217963,21.796301
14,14,2018-12-09,2019-01-12,34,1.930265,0.193026,-0.113861,11.220921
15,15,2019-01-25,2019-01-28,3,-34.211491,-3.421149,-0.040738,3.421149
16,16,2019-02-03,2019-02-28,25,105.356978,10.535698,-0.072791,1.958533
17,17,2019-03-16,2019-03-24,8,-3.638273,-0.363827,-0.012467,0.667892
18,18,2019-03-29,2019-04-15,17,227.715538,22.771554,-0.059531,0.394057
19,19,2019-05-04,2019-05-25,21,409.776737,40.977674,-0.135554,0.000000
20,20,2019-05-27,2019-05-31,4,-39.101169,-3.910117,-0.039101,3.910117
21,21,2019-06-16,2019-07-01,15,140.288148,14.028815,-0.258763,0.000000
22,22,2019-08-02,2019-08-14,12,-26.977193,-2.697719,-0.141649,2.697719
23,23,2019-09-03,2019-09-19,16,-55.983517,-5.598352,-0.055984,5.598352
24,24,2019-10-08,2019-10-24,16,-90.723597,-9.072360,-0.133707,9.072360
25,25,2019-10-25,2019-11-09,15,16.783809,1.678381,-0.089884,0.000000
26,26,2019-12-03,2019-12-17,14,-85.832560,-8.583256,-0.107328,8.583256
27,27,2019-12-19,2020-01-23,35,165.132616,16.513262,-0.065096,2.563737
28,28,2020-01-29,2020-02-15,17,57.809593,5.780959,-0.042750,1.885872
29,29,2020-03-22,2020-05-11,50,436.590586,43.659059,-0.141725,0.000000
30,30,2020-06-04,2020-06-07,3,-23.734189,-2.373419,-0.023734,2.373419
31,31,2020-07-07,2020-07-17,10,-11.678533,-1.167853,-0.030665,1.562136
32,32,2020-07-21,2020-08-11,21,219.671806,21.967181,-0.038195,0.224136
33,33,2020-09-15,2020-11-26,72,532.955559,53.295556,-0.141406,3.478045
34,34,2020-12-16,2021-01-13,28,735.146429,73.514643,-0.198965,0.000000
35,35,2021-02-03,2021-02-23,20,263.170587,26.317059,-0.194250,0.000000
36,36,2021-03-10,2021-03-21,11,11.185157,1.118516,-0.081815,2.433522
37,37,2021-04-02,2021-04-03,1,-10.701720,-1.070172,-0.010702,1.070172
38,38,2021-04-13,2021-04-18,5,-114.427003,-11.442700,-0.115727,11.442700
39,39,2021-05-01,2021-05-12,11,-61.238815,-6.123882,-0.084287,6.123882
40,40,2021-05-31,2021-06-22,22,-101.047657,-10.104766,-0.192522,10.787434
41,41,2021-06-28,2021-07-15,17,-79.404488,-7.940449,-0.133011,7.940449
42,42,2021-07-22,2021-08-18,27,406.569780,40.656978,-0.076902,0.458856
43,43,2021-08-21,2021-08-24,3,-25.790177,-2.579018,-0.025820,2.579018
44,44,2021-10-01,2021-10-24,23,259.626043,25.962604,-0.097974,0.000000
45,45,2021-11-09,2021-11-12,3,-39.807506,-3.980751,-0.057830,3.980751
46,46,2021-12-19,2022-01-04,16,-29.107052,-2.910705,-0.114928,2.910705

In [217]:
d=metrics1(data,trailing_stop_loss(data,only_long_then_short(data,output)))

Total Closed trades:  47
Winning trades:  19
Losing Trades:  28
Benchmark Return:  2248.9531785306435
WIN rate:  40.42553191489362  %
Gross Profit:  1549.2015262816944
Net Profit:  1502.2015262816944
Average Profit:  31.96173460173818
MAX Drawdowns:  -19.703510653063294  %
Largest Win:  513.9161528413531
Average Win:  151.3934360843991
Largest Loss:  -119.52852305287831
Average Loss:  -47.402634261496004
Maximum Holding Time:  21
Average Holding Duration:  8.340425531914894
Maximum Dip:  11.95285230528783
Avg. Dip:  3.0718223127435986
Sharpe Ratio:  0.24903333835465224
Sortino Ratio:  1.0107930278757977
returns:  3.296173460173818  %

In [218]:
btc=yf.download("BTC-USD",'2022-01-12','2022-12-31')
btc['datetime']=btc.index
btc

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,datetime
Date,,,,,,,
2022-01-12,42742.179688,44135.367188,42528.988281,43949.101562,43949.101562,33499938689,2022-01-12
2022-01-13,43946.742188,44278.421875,42447.042969,42591.570312,42591.570312,47691135082,2022-01-13
2022-01-14,42598.871094,43346.687500,41982.617188,43099.699219,43099.699219,23577403399,2022-01-14
2022-01-15,43101.898438,43724.671875,42669.035156,43177.398438,43177.398438,18371348298,2022-01-15
2022-01-16,43172.039062,43436.808594,42691.023438,43113.878906,43113.878906,17902097845,2022-01-16
...,...,...,...,...,...,...,...
2022-12-26,16842.250000,16920.123047,16812.369141,16919.804688,16919.804688,11886957804,2022-12-26
2022-12-27,16919.291016,16959.845703,16642.072266,16717.173828,16717.173828,15748580239,2022-12-27
2022-12-28,16716.400391,16768.169922,16497.556641,16552.572266,16552.572266,17005713920,2022-12-28
2022-12-29,16552.322266,16651.755859,16508.683594,16642.341797,16642.341797,14472237479,2022-12-29
2022-12-30,16641.330078,16643.427734,16408.474609,16602.585938,16602.585938,15929162910,2022-12-30

In [173]:
tether=yf.download("USDT-USD",'2022-01-12','2022-12-31')
tether

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close       Volume
Date
2022-01-12  1.000369  1.000713  1.000210  1.000290   1.000290  62300703831
2022-01-13  1.000287  1.000763  1.000262  1.000405   1.000405  63231903910
2022-01-14  1.000411  1.000757  1.000162  1.000283   1.000283  60503324000
2022-01-15  1.000301  1.000940  1.000222  1.000642   1.000642  41922988280
2022-01-16  1.000727  1.000818  1.000243  1.000417   1.000417  41551382127
...              ...       ...       ...       ...        ...          ...
2022-12-26  0.999934  1.000020  0.999894  0.999995   0.999995  14986560291
2022-12-27  0.999964  1.000019  0.999828  0.999850   0.999850  18554435182
2022-12-28  0.999855  0.999921  0.999652  0.999686   0.999686  21161758512
2022-12-29  0.999679  0.999838  0.999599  0.999735   0.999735  18567214596
2022-12-30  0.999731  0.999775  0.999630  0.999659   0.999659  19162959224

[353 rows x 6 columns]

In [219]:
close_values=[]
for i in range(len(tether.Close)):
    close_values.append(btc.Close[i]/tether.Close[i])
close_values

[43936.35842799481,
 42574.32966925067,
 43087.505331795495,
 43149.698832486516,
 43095.90816703221,
 42235.00833717145,
 42357.84360563485,
 41723.88549978684,
 40669.96516836846,
 36450.86366313222,
 35024.71776496904,
 36259.00068189994,
 36638.24218488134,
 36931.69592580127,
 36828.9180984318,
 37125.4618050135,
 37771.30124642763,
 38124.37719088451,
 37904.67387867369,
 38464.471908602216,
 38726.77374060763,
 36938.94612690776,
 37140.265431944295,
 41477.52209843744,
 41416.52232659673,
 42383.65440946623,
 43815.96561051815,
 44091.15051643469,
 44305.83399129633,
 43533.50862556342,
 42377.338914179425,
 42219.09282755417,
 42178.283359783745,
 42565.08388662765,
 44549.14365864599,
 43944.4148953436,
 40517.14603151606,
 40008.61285380465,
 40099.058418955756,
 38415.70324799801,
 37056.67915583548,
 38259.091028259645,
 37278.0037637085,
 38308.24603693401,
 39195.640951582965,
 39089.63114646462,
 37691.27786951726,
 43178.08093473055,
 44334.595636051665,
 43903.61671034641,
 42451.06540222734,
 39129.894807324825,
 39389.75313180982,
 38410.611363236836,
 38057.357094702515,
 38726.34679692727,
 41970.58768305463,
 39415.18930467318,
 38787.2139261999,
 38900.862962013336,
 37842.13497981056,
 39658.069286194,
 39325.64942864191,
 41126.04007813393,
 40930.91493210492,
 41780.97453346138,
 42169.14703428594,
 41230.21859895927,
 41063.74622472999,
 42344.538286955685,
 42875.42068095727,
 43934.57371264747,
 44330.73100211701,
 44484.77064734457,
 46802.894949594614,
 47108.59576285405,
 47444.37978295318,
 47049.5844632425,
 45524.83697339509,
 46265.08230279025,
 45853.17398403669,
 46440.88854184618,
 46612.046026700846,
 45547.15815611839,
 43200.04348081052,
 43492.4516762752,
 42275.488314179536,
 42766.22545079804,
 42195.35321378463,
 39508.15461548298,
 40109.73607123805,
 41155.412078897236,
 39930.44613967672,
 40543.77428872002,
 40412.52240310587,
 39704.48602483399,
 40817.31528977573,
 41488.520884205835,
 41366.02542888206,
 40521.001539346296,
 39731.02294182363,
 39477.727676743794,
 39455.71870181877,
 40452.44466820758,
 38114.680239640875,
 39235.12025793899,
 39766.23383681696,
 38609.05098908351,
 37709.03115314256,
 38464.74683332467,
 38531.062080852455,
 37748.75662407312,
 39696.861510894065,
 36575.578819950984,
 36041.57064499467,
 35504.75715418036,
 34064.23804229293,
 30299.710892351424,
 31029.390582286207,
 29056.299270048527,
 29117.371025880107,
 29334.76259666195,
 30138.033660469202,
 31334.286271068697,
 29899.42520125196,
 30459.08839141825,
 28754.71945872312,
 30345.56000828642,
 29235.296931591653,
 29467.7940147399,
 30352.071636351444,
 29125.47289829354,
 29682.091950273454,
 29592.664447260137,
 29299.247819141125,
 28660.16134392003,
 28843.68697206141,
 29470.181746272017,
 31746.200286555286,
 31811.780008144597,
 29821.147478696585,
 30488.312091842916,
 29729.065591237424,
 29853.423458026482,
 29927.73094643404,
 31392.302103299746,
 31173.745496987158,
 30236.670879055528,
 30132.66875199477,
 29107.67242870341,
 28388.48968710313,
 26787.292684947977,
 22519.05077175229,
 22230.045638973614,
 22596.746805178638,
 20403.482577755203,
 20491.235684557338,
 19043.02690014809,
 20574.483396966298,
 20621.045306671946,
 20729.378278125972,
 20005.13348899862,
 21101.070232415652,
 21245.997778704394,
 21512.06095541864,
 21039.96112390467,
 20754.32379774659,
 20304.350503233753,
 20126.484146277355,
 19808.12007971164,
 19291.22462134523,
 19262.28828943217,
 19314.88496419854,
 20249.303245121722,
 20208.464867221548,
 20566.797285039098,
 21649.582304210522,
 21743.77162230731,
 21602.18714669788,
 20871.61576885827,
 19986.045417936086,
 19336.618646343864,
 20224.532814182912,
 20582.125258218886,
 20842.45642647456,
 21195.1069415523,
 20784.87284895926,
 22490.70445235707,
 23387.281272275188,
 23230.153949290383,
 23162.776128914058,
 22713.79796029202,
 22464.669760433717,
 22608.371694889272,
 21360.377067080153,
 21238.75635456995,
 22924.268886339567,
 23839.118103959747,
 23797.231468093363,
 23649.37322989592,
 23329.24578057023,
 23309.44485900953,
 22974.46366899795,
 22841.848826963553,
 22627.946664276442,
 23288.33723560489,
 22958.408335406322,
 23172.553665539268,
 23805.272180892392,
 23159.478633160124,
 23941.58626388884,
 23947.80584493782,
 24394.62052306479,
 24414.888700609,
 24312.74613666908,
 24132.772454287617,
 23880.54387034954,
 23334.295668012044,
 23212.761802253164,
 20876.300943926002,
 21166.610616816815,
 21534.2507314279,
 21399.250035703753,
 21528.25983731855,
 21394.185555139,
 21599.176590979987,
 20259.1476878744,
 20041.358411790432,
 19616.264919488898,
 20297.345679206606,
 19795.20630823573,
 20049.443401167897,
 20126.93908227886,
 19967.993347760344,
 19830.6198502866,
 19985.49307293256,
 19811.617702240106,
 18836.74506208652,
 19288.2226262712,
 19327.861708447643,
 21376.129776026184,
 21674.449056097837,
 21763.24986607552,
 22365.887313700467,
 20296.198937204263,
 20238.216456913928,
 19701.152223491004,
 19772.959945095925,
 20125.60406320811,
 19419.05907745338,
 19542.057896438844,
 18889.656395773043,
 18545.80638046261,
 19413.86089913374,
 19298.005601870238,
 18936.065887021225,
 18801.0644346828,
 19222.86436469634,
 19110.92961265742,
 19427.187357217368,
 19571.503932582462,
 19430.83704828896,
 19311.264651472666,
 19042.965562381996,
 19621.83276688136,
 20331.739369974952,
 20158.520379110993,
 19952.589118606767,
 19544.466140167548,
 19414.95750684443,
 19443.354658493696,
 19141.1398229464,
 19053.304309037765,
 19157.598324666946,
 19381.372475391487,
 19184.236060786992,
 19065.975591399463,
 19266.995877262434,
 19549.408469736103,
 19332.36722821404,
 19138.387575036257,
 19053.854939898785,
 19170.110366594992,
 19206.55696831722,
 19565.501088893005,
 19344.46997825508,
 20091.677946803906,
 20766.30973494677,
 20283.96921250438,
 20592.344434031045,
 20813.77221678221,
 20631.90932371566,
 20496.859535940137,
 20486.830353063353,
 20159.58441377614,
 20209.846138367397,
 21145.622227313397,
 21280.159687117608,
 20924.60305079182,
 20600.878767329763,
 18540.679145096434,
 15903.044438587041,
 17624.929801295548,
 17064.70226930054,
 16822.468176786002,
 16373.750911536226,
 16634.617474959363,
 16899.31550652583,
 16682.30127519337,
 16697.50290862812,
 16711.76555989728,
 16726.567392369117,
 16308.43381674028,
 15801.679468452681,
 16203.428835273819,
 16624.105628270238,
 16614.084390626584,
 16528.81697226546,
 16471.297930616744,
 16451.14182342737,
 16222.805865052982,
 16449.193447462134,
 17168.308531895276,
 16966.38649122533,
 17087.549994141245,
 16907.204394263044,
 17128.430167057726,
 16973.90955006764,
 17088.187958547922,
 16848.09280948904,
 17231.28696148229,
 17132.17611739825,
 17127.936471047662,
 17102.85997123466,
 17204.595749022646,
 17781.01524768109,
 17813.77952721554,
 17363.51152509005,
 16644.871152960248,
 16792.387353501967,
 16755.379946478555,
 16438.364792016095,
 16904.42856895951,
 16816.240151031307,
 16830.1572162552,
 16797.272506352037,
 16847.890423853205,
 16842.94607355871,
 16919.889401835786,
 16719.682196622427,
 16557.771360607607,
 16646.753223945718,
 16608.249320170922]

In [220]:
btc['close']=close_values
btc['open']=btc['Open']
btc['high']=btc['High']
btc['low']=btc['Low']
btc['volume']=btc['Volume']
btc

,Open,High,Low,Close,Adj Close,Volume,datetime,close,open,high,low,volume
Date,,,,,,,,,,,,
2022-01-12,42742.179688,44135.367188,42528.988281,43949.101562,43949.101562,33499938689,2022-01-12,43936.358428,42742.179688,44135.367188,42528.988281,33499938689
2022-01-13,43946.742188,44278.421875,42447.042969,42591.570312,42591.570312,47691135082,2022-01-13,42574.329669,43946.742188,44278.421875,42447.042969,47691135082
2022-01-14,42598.871094,43346.687500,41982.617188,43099.699219,43099.699219,23577403399,2022-01-14,43087.505332,42598.871094,43346.687500,41982.617188,23577403399
2022-01-15,43101.898438,43724.671875,42669.035156,43177.398438,43177.398438,18371348298,2022-01-15,43149.698832,43101.898438,43724.671875,42669.035156,18371348298
2022-01-16,43172.039062,43436.808594,42691.023438,43113.878906,43113.878906,17902097845,2022-01-16,43095.908167,43172.039062,43436.808594,42691.023438,17902097845
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,16842.250000,16920.123047,16812.369141,16919.804688,16919.804688,11886957804,2022-12-26,16919.889402,16842.250000,16920.123047,16812.369141,11886957804
2022-12-27,16919.291016,16959.845703,16642.072266,16717.173828,16717.173828,15748580239,2022-12-27,16719.682197,16919.291016,16959.845703,16642.072266,15748580239
2022-12-28,16716.400391,16768.169922,16497.556641,16552.572266,16552.572266,17005713920,2022-12-28,16557.771361,16716.400391,16768.169922,16497.556641,17005713920
2022-12-29,16552.322266,16651.755859,16508.683594,16642.341797,16642.341797,14472237479,2022-12-29,16646.753224,16552.322266,16651.755859,16508.683594,14472237479
2022-12-30,16641.330078,16643.427734,16408.474609,16602.585938,16602.585938,15929162910,2022-12-30,16608.249320,16641.330078,16643.427734,16408.474609,15929162910

In [221]:
macd1=get_macd(btc.close,26,12,9)
macd1

                  macd      signal
Date
2022-01-12    0.000000    0.000000
2022-01-13 -108.651867  -21.730373
2022-01-14 -151.602685  -47.704836
2022-01-15 -178.564641  -73.876797
2022-01-16 -201.944749  -99.490387
...                ...         ...
2022-12-26  -97.317752 -104.098084
2022-12-27 -103.680903 -104.014648
2022-12-28 -120.400693 -107.291857
2022-12-29 -125.029888 -110.839463
2022-12-30 -130.303445 -114.732259

[353 rows x 2 columns]

In [222]:
output1=generate_signal_for_macd(macd1,btc)
output1

      datetime  signals
0   2022-01-12        0
1   2022-01-13       -1
2   2022-01-14       -1
3   2022-01-15       -1
4   2022-01-16       -1
..         ...      ...
348 2022-12-26        1
349 2022-12-27        1
350 2022-12-28       -1
351 2022-12-29       -1
352 2022-12-30       -1

[353 rows x 2 columns]

In [223]:
to_submit(btc,output1)

      datetime  signals  open  high  low  close  volume
0   2022-01-12        0   NaN   NaN  NaN    NaN     NaN
1   2022-01-13       -1   NaN   NaN  NaN    NaN     NaN
2   2022-01-14        0   NaN   NaN  NaN    NaN     NaN
3   2022-01-15        0   NaN   NaN  NaN    NaN     NaN
4   2022-01-16        0   NaN   NaN  NaN    NaN     NaN
..         ...      ...   ...   ...  ...    ...     ...
348 2022-12-26        1   NaN   NaN  NaN    NaN     NaN
349 2022-12-27        1   NaN   NaN  NaN    NaN     NaN
350 2022-12-28       -1   NaN   NaN  NaN    NaN     NaN
351 2022-12-29       -1   NaN   NaN  NaN    NaN     NaN
352 2022-12-30        1   NaN   NaN  NaN    NaN     NaN

[353 rows x 7 columns]

In [224]:
metrics1(btc,to_submit(btc,output1))

Total Closed trades:  24
Winning trades:  11
Losing Trades:  13
Benchmark Return:  -621.9930391502658
WIN rate:  45.833333333333336  %
Gross Profit:  105.68909736152034
Net Profit:  81.68909736152034
Average Profit:  3.4037123900633475
MAX Drawdowns:  -15.794423706910543  %
Largest Win:  200.68805813007134
Average Win:  68.63220712474386
Largest Loss:  -133.61990084325043
Average Loss:  -49.94347546235862
Maximum Holding Time:  41
Average Holding Duration:  13.666666666666666
Maximum Dip:  13.361990084325043
Avg. Dip:  3.7846126167680367
Sharpe Ratio:  0.056892318414100744
Sortino Ratio:  0.10600119545099482
returns:  0.44037123900633474  %

,trade number,entry,exit,holding duration,return,return %,drawdown,dip
0,0,2022-01-13,2022-01-31,18,96.533705,9.653370,0.068625,1.351446e+00
1,1,2022-02-01,2022-02-18,17,33.099559,3.309956,-0.101922,4.616516e+00
2,2,2022-02-19,2022-02-28,9,-76.785407,-7.678541,0.141891,7.678541e+00
3,3,2022-03-01,2022-03-06,5,-133.619901,-13.361990,-0.133620,1.336199e+01
4,4,2022-03-07,2022-03-16,9,-80.633108,-8.063311,0.102825,1.028245e+01
5,5,2022-03-17,2022-04-05,19,112.781335,11.278133,-0.040459,1.136868e-14
6,6,2022-04-06,2022-05-04,28,81.092094,8.109209,0.042233,6.768701e-01
7,7,2022-05-05,2022-05-20,15,200.688058,20.068806,0.051661,0.000000e+00
8,8,2022-05-21,2022-06-12,22,-90.963760,-9.096376,-0.157944,9.096376e+00
9,9,2022-06-13,2022-06-25,12,44.717241,4.471724,0.094981,3.450236e-01
10,10,2022-06-26,2022-08-06,41,91.181120,9.118112,-0.110705,8.449031e+00
11,11,2022-08-07,2022-08-08,1,-27.304652,-2.730465,0.027305,2.730465e+00
12,12,2022-08-09,2022-08-17,8,7.548401,0.754840,-0.044260,0.000000e+00
13,13,2022-08-18,2022-09-09,22,79.121650,7.912165,0.092044,0.000000e+00
14,14,2022-09-10,2022-09-18,8,-104.057546,-10.405755,-0.131755,1.040575e+01
15,15,2022-09-19,2022-09-28,9,5.878119,0.587812,0.042914,0.000000e+00
16,16,2022-09-29,2022-10-12,13,-21.148380,-2.114838,-0.062879,2.700551e+00
17,17,2022-10-13,2022-10-15,2,-16.273197,-1.627320,-0.016273,1.627320e+00
18,18,2022-10-16,2022-11-08,23,-37.697456,-3.769746,-0.128734,3.769746e+00
19,19,2022-11-09,2022-11-24,15,-44.710933,-4.471093,0.108274,1.082739e+01
20,20,2022-11-25,2022-12-19,24,-5.472393,-0.547239,-0.077211,1.851379e+00
21,21,2022-12-20,2022-12-26,6,-0.914603,-0.091460,0.007208,9.146025e-02
22,22,2022-12-27,2022-12-28,1,-9.683847,-0.968385,-0.009684,9.683847e-01
23,23,2022-12-29,2022-12-30,1,2.312998,0.231300,0.000000,0.000000e+00

In [196]:
metrics1(btc,to_submit(btc,output1))

Total Closed trades:  24
Winning trades:  11
Losing Trades:  13
Benchmark Return:  -621.9930391502658
WIN rate:  45.833333333333336  %
Gross Profit:  105.68909736152034
Net Profit:  81.68909736152034
Average Profit:  3.4037123900633475
MAX Drawdowns:  -15.794423706910543  %
Largest Win:  200.68805813007134
Average Win:  68.63220712474386
Largest Loss:  -133.61990084325043
Average Loss:  -49.94347546235862
Maximum Holding Time:  41
Average Holding Duration:  13.666666666666666
Maximum Dip:  13.361990084325043
Avg. Dip:  3.7846126167680367
Sharpe Ratio:  0.056892318414100744
Sortino Ratio:  0.10600119545099482
returns:  0.44037123900633474  %

,trade number,entry,exit,holding duration,return,return %,drawdown,dip
0,0,2022-01-13,2022-01-31,18,96.533705,9.653370,0.068625,1.351446e+00
1,1,2022-02-01,2022-02-18,17,33.099559,3.309956,-0.101922,4.616516e+00
2,2,2022-02-19,2022-02-28,9,-76.785407,-7.678541,0.141891,7.678541e+00
3,3,2022-03-01,2022-03-06,5,-133.619901,-13.361990,-0.133620,1.336199e+01
4,4,2022-03-07,2022-03-16,9,-80.633108,-8.063311,0.102825,1.028245e+01
5,5,2022-03-17,2022-04-05,19,112.781335,11.278133,-0.040459,1.136868e-14
6,6,2022-04-06,2022-05-04,28,81.092094,8.109209,0.042233,6.768701e-01
7,7,2022-05-05,2022-05-20,15,200.688058,20.068806,0.051661,0.000000e+00
8,8,2022-05-21,2022-06-12,22,-90.963760,-9.096376,-0.157944,9.096376e+00
9,9,2022-06-13,2022-06-25,12,44.717241,4.471724,0.094981,3.450236e-01
10,10,2022-06-26,2022-08-06,41,91.181120,9.118112,-0.110705,8.449031e+00
11,11,2022-08-07,2022-08-08,1,-27.304652,-2.730465,0.027305,2.730465e+00
12,12,2022-08-09,2022-08-17,8,7.548401,0.754840,-0.044260,0.000000e+00
13,13,2022-08-18,2022-09-09,22,79.121650,7.912165,0.092044,0.000000e+00
14,14,2022-09-10,2022-09-18,8,-104.057546,-10.405755,-0.131755,1.040575e+01
15,15,2022-09-19,2022-09-28,9,5.878119,0.587812,0.042914,0.000000e+00
16,16,2022-09-29,2022-10-12,13,-21.148380,-2.114838,-0.062879,2.700551e+00
17,17,2022-10-13,2022-10-15,2,-16.273197,-1.627320,-0.016273,1.627320e+00
18,18,2022-10-16,2022-11-08,23,-37.697456,-3.769746,-0.128734,3.769746e+00
19,19,2022-11-09,2022-11-24,15,-44.710933,-4.471093,0.108274,1.082739e+01
20,20,2022-11-25,2022-12-19,24,-5.472393,-0.547239,-0.077211,1.851379e+00
21,21,2022-12-20,2022-12-26,6,-0.914603,-0.091460,0.007208,9.146025e-02
22,22,2022-12-27,2022-12-28,1,-9.683847,-0.968385,-0.009684,9.683847e-01
23,23,2022-12-29,2022-12-30,1,2.312998,0.231300,0.000000,0.000000e+00